<div class="wrapper">
    <div class="left-side">
        <div class="container-left">
            <div class="content-left">
                <div class="image">
                    <img class="image__avatar" src="../../assets/image/clementsmall.jpeg" alt="">
                </div>
                <div class="list-item">
                    <div class="list-item__title">
                        <p class="list-item__title_text">Contacts</p>
                        <div class="list-item__title_underscore"></div>
                    </div>
                    <div class="list-item__content">
                        <p class="list-item__content_title">Phone</p>
                        <p class="list-item__content_text">+38 067 34 050 96</p>
                    </div>
                    <div class="list-item__content">
                        <p class="list-item__content_title">Email</p>
                        <p class="list-item__content_text">halakdmytro07@gmal.com</p>
                    </div>
                    <div class="list-item__content">
                        <p class="list-item__content_title">Address</p>
                        <p class="list-item__content_text">Lviv</p>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-item__title">
                        <p class="list-item__title_text">Education</p>
                        <div class="list-item__title_underscore"></div>
                    </div>
                    <div class="list-item__content">
                        <p class="list-item__content_title">Mar 2022 - Jul 2022</p>
                        <p class="list-item__content_text">Test Automation Engineer</p>
                        <p class="list-item__content_text">SoftServe IT Academy</p>
                    </div>
                    <div class="list-item__content">
                        <p class="list-item__content_title">Mar 2022 - Apr 2022</p>
                        <p class="list-item__content_text">English Online Marathon</p>
                        <p class="list-item__content_text">SoftServe</p>
                    </div>
                    <div class="list-item__content">
                        <p class="list-item__content_title">Jul 2022 - Present</p>
                        <p class="list-item__content_text">Upper Intermediate Strong English Course</p>
                        <p class="list-item__content_text">GlobalLogic</p>
                    </div>
                
                </div>
                <div class="list-item">
                    <div class="list-item__title">
                        <p class="list-item__title_text">Language</p>
                        <div class="list-item__title_underscore"></div>
                    </div>
                    <div class="list-item__row list-item__content">                       
                        <p class="list-item__content_title">English</p>                     
                        <div class="list-item__row_circle">
                            <div class="list-item__row_circle_left"></div>
                            <div class="list-item__row_circle_left"></div>
                            <div class="list-item__row_circle_left list-item__row_circle_left_black"></div>
                            <div class="list-item__row_circle_left list-item__row_circle_left_black"></div>
                        </div>
                    </div>
                    <div class="list-item__row list-item__content">
                        <p class="list-item__content_title">Ukrainian</p>                        
                        <div class="list-item__row_circle">
                            <div class="list-item__row_circle_left"></div>
                            <div class="list-item__row_circle_left"></div>
                            <div class="list-item__row_circle_left"></div>
                            <div class="list-item__row_circle_left"></div>
                        </div>
                    </div>
                    <div class="list-item__row list-item__content">                        
                        <div class="list-item__content_title">Polish</div>                      
                        <div class="list-item__row_circle">
                            <div class="list-item__row_circle_left"></div>
                            <div class="list-item__row_circle_left"></div>
                            <div class="list-item__row_circle_left list-item__row_circle_left_black"></div>
                            <div class="list-item__row_circle_left list-item__row_circle_left_black"></div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="right-side__menu">
            <app-header 
            [about__item_link]="'menu__color'">
            </app-header>
        </div>
        <div class="container-right">
            <div class="list-item">
                <p class="list-item__name">Galak <br> Dmytro</p>
                <p class="list-item__profession">Front End Developer</p>
            </div>            
            <div class="list-item">               
                <div class="list-item__title">
                    <p class="list-item__title_text list-item__title_text_right">Profile</p>
                    <a class="list-item__download" href="../../assets/files/Dmytro_Galak_CV_Junior_QA_Engineer.pdf" id="cv" download="cv.pdf">Download CV</a>
                    <div class="list-item__title_underscore_right"></div>
                </div>                           
                <p class="list-item__text list-item__text_about">Front End Developer with a strong drive for innovation and creative problem-solving. Constantly exploring emerging web technologies and trends, I thrive on pushing the boundaries of user experience and design. By implementing cutting-edge frameworks and techniques, I aim to deliver dynamic and intuitive websites that engage users and exceed expectations. Embracing the challenge of transforming ideas into functional, visually captivating interfaces, I am dedicated to staying at the forefront of the ever-evolving digital landscape.</p>               
            </div>
            <div class="list-item">               
                <div class="list-item__title">
                    <p class="list-item__title_text list-item__title_text_right">Experience</p>
                    <div class="list-item__title_underscore_right"></div>
                </div>           
                <div class="list-item__row">
                    <div class="list-item__row_year_company">
                        <p>Mar 2022 - Jul 2022</p>
                        <p>SoftServe IT Academy</p>
                    </div>
                    <div class="list-item__row_prof_about">
                        <p class="list-item__row_prof_about_prof">Test Automation Engineer</p>
                        <p class="list-item__row_prof_about_about">Working in a SCRUM team of 8, writing test cases, creating documentation and presentations, reporting bugs, creating new automation tests, maintaining old auto tests using Cucumber BDD, Jenkins setup.</p>
                    </div>
                </div>
                <div class="list-item__row">
                    <div class="list-item__row_year_company">
                        <p>May 2022 - Sep 2022</p>
                        <p>Freelance</p>
                    </div>
                    <div class="list-item__row_prof_about">
                        <p class="list-item__row_prof_about_prof">Test Automation Engineer</p>
                        <p class="list-item__row_prof_about_about">Writing new and maintaining old automation test cases, adding new test cases to TestRail, adding test documentation, verification of tickets, creating test reports using Allure, regression run execution, reporting issues to Jira. </p>
                    </div>
                </div>
                <div class="list-item__row">
                    <div class="list-item__row_year_company">
                        <p>Nov 2022  - Dec 2022</p>
                        <p>Knubisoft Internship</p>
                    </div>
                    <div class="list-item__row_prof_about">
                        <p class="list-item__row_prof_about_prof">QA Automation Engineer</p>
                        <p class="list-item__row_prof_about_about">Manual testing, writing test cases, writing checklists, reporting bugs, writing test plans and test reports, regression testing.</p>
                    </div>
                </div>
            </div>
            <div class="list-item">               
                <div class="list-item__title">
                    <p class="list-item__title_text list-item__title_text_right">Skills</p>
                    <div class="list-item__title_underscore_right"></div>
                </div>                
                <div class="list-item__items_row">
                    <div class="list-item__items_row_row">
                        <div class="list-item__row_name">
                            <p class="list-item__row_prof_about_prof">JavaScript</p>
                        </div>
                        <div class="circle__row_right">
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                        </div>
                    </div>
                    <div class="list-item__items_row_row">
                        <div class="list-item__row_name">
                            <p class="list-item__row_prof_about_prof">HTML&CSS</p>
                        </div>
                        <div class="circle__row_right">
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                        </div>
                    </div>
                    <div class="list-item__items_row_row">
                        <div class="list-item__row_name">
                            <p class="list-item__row_prof_about_prof">Angular</p>
                        </div>
                        <div class="circle__row_right">
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                        </div>
                    </div>
                    <div class="list-item__items_row_row">
                        <div class="list-item__row_name">
                            <p class="list-item__row_prof_about_prof">Git</p>
                        </div>
                        <div class="circle__row_right">
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                        </div>
                    </div>
                    <div class="list-item__items_row_row">
                        <div class="list-item__row_name">
                            <p class="list-item__row_prof_about_prof">SQL</p>
                        </div>
                        <div class="circle__row_right">
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                        </div>
                    </div>
                    <div class="list-item__items_row_row">
                        <div class="list-item__row_name">
                            <p class="list-item__row_prof_about_prof">Scrum/Agile </p>
                        </div>
                        <div class="circle__row_right">
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                            <div class="circle__row_right_circle circle__row_right_circle_grey"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
