.wrapper {
    display: flex;
    min-height: 100vh;
}
.container {
    max-width: 486px;
    margin: 100px auto;
}
.left-section {
    flex: 0 1 50%;
    margin: 0 auto;
    background-color: #2c323d;
    min-height: 100vh;
}
.left-section__line {
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    position: relative;
    top: 50px;
    left: 0;
}
.left-section__line_car {
    position: absolute;
    top: -50px;
    right: 150px;
}
.right-section {
    flex: 0 1 50%;
    background: url(../../assets/image/road.jpeg) 50%/ cover no-repeat, linear-gradient(to bottom, rgba(86,234,228,0.5) 10%,rgba(86,234,228,0.5) 40%,rgba(25,25,25, 0.1) 100%) 0 0/ 100% 100%;
    min-height: 100vh;
}
.right-section_gradient {
    display: block;
    background: linear-gradient(to bottom, rgba(86,234,228,0.5) 10%,rgba(86,234,228,0.5) 40%,rgba(25,25,25, 0.1) 100%);
    width: 100%;
    height: 100vh;
}
.form__field {
    margin: 0 0 23px 0;
}
.form__field_text {
    font-size: 19px;
    margin: 0 0 10px 0;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}
.form__field_text:focus {
    box-shadow: 0 0 4px 4px rgb(139, 214, 26);
}
.form__field_error_message {
    font-size: 17px;
    color: red;
    display: block;
    text-align: center;
}
.form__btn {
    position: relative;
}
.left-section__menu {
    display: flex;
    justify-content: center;
}
.btn {
    font-size: 25px;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.btn-submit {
    background-color: rgba(77, 206, 185, 0.687);
}
.btn-submit:disabled {
    background-color: grey;
}
.btn-submit:not([disabled]):hover {
    box-shadow: 0 0 0 3px rgba(77, 206, 185, 0.687);
}
.btn-clear {
    background-color: rgb(228, 66, 66);
}
.btn-clear:hover {
   box-shadow: 0 0 0 3px rgb(228, 66, 66);
}

@media (max-width: 1020px) {
    .form__field_text {
        font-size: 10px;
        padding: 10px;
    }
    .container {
        max-width: 243px;
    }
    .btn {
        font-size: 10px;
    }
    .left-section__line {
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    }
    .left-section__line_car {
    position: absolute;
    top: -26px;
    right: 25%;
    width: 60px
    }
}
@media (max-width: 540px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .container {
        margin: 15px 0 0 0;
        max-width: 100%;
    }
    .left-section {
        margin: 0;
        min-height: 0;
    }
    .left-section__line {
        position: relative;
        top: 0;
        left: 0;
    }
    .left-section__line_car {
        position: absolute;
        top: -15px;
        right: 25%;
        width: 35px;
    }
    .form__btn {
        margin: 0 0 17px 0;
    }
    
}
.form__field_text.ng-invalid.ng-touched {
    box-shadow: 0 0 4px 4px red;
}


