<div class="wrapper">
    <div class="first-block">
        <div class="first-block__menu">
            <app-header>
            </app-header>
        </div>
    </div>
    <div class="second-block">
            <div class="second-block__left">
                <span class="second-block__left_line"></span>
            </div>
            <div class="second-block__middle">
                <span class="second-block__middle_shadow">
                    <span class="second-block_right_line">
                        <img class="second-block_right_line_car" src="../../assets/icons/Shape.png" alt="">
                    </span>
                </span>
                <span class="second-block__middle_gradient">
                    <div class="second-block__middle_gradient_text">
                        <p class="second-block__middle_gradient_text_name"> Hi <br> I am <br> Dmytro <br> Galak <br> web developer</p>
                        <p class="second-block__middle_gradient_profession">Front End Developer</p>
                    </div>
                </span>
            </div>
            <div class="second-block_right">
            </div>
        </div>
    <div class="third-block"></div>
</div>
